* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
}
a,
p,
ul,
li,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  border: none;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.main-header .flex-row {
  display: flex;
  align-items: center;
}
.main-header .flex-row .brand {
  display: flex;
  min-width: 185px;
  width: 14%;
  align-items: center;
}
.main-header .flex-row .brand img {
  width: 70px;
}
.main-header .flex-row .brand .brand-name {
  padding-left: 12px;
}
.main-header .flex-row .navbar {
  width: 86%;
}
