.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Tahoma, sans-serif;
  font-size: 18px;
}
a,
p,
ul,
li,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  border: none;
  text-decoration: none;
  font-weight: normal;
  list-style: none;
}
.container {
  width: 80%;
  margin: 0 auto;
  max-width: 1200px;
}
.btn {
  padding: 20px 55px;
  display: inline-block;
  background-color: #30497b;
  border-radius: 40px;
  color: #ffffff;
  font-size: 1.36rem;
}
.main-header .flex-row {
  display: flex;
  align-items: center;
}
.main-header .flex-row .brand {
  display: flex;
  min-width: 185px;
  width: 14%;
  align-items: center;
}
.main-header .flex-row .brand img {
  width: 70px;
}
.main-header .flex-row .brand .brand-name {
  padding-left: 12px;
  font-size: 1.36rem;
}
.main-header .flex-row .navbar {
  width: 86%;
}
.main-header .flex-row .navbar .navbar-menu .navbar-menu-item {
  float: left;
  margin-right: 40px;
}
.main-header .flex-row .navbar .navbar-menu .navbar-menu-item.right-item {
  float: right;
  margin-right: 0;
}
.main-header .flex-row .navbar .navbar-menu .navbar-menu-item a {
  font-size: 1.36rem;
}
.main-header .flex-row .navbar .navbar-menu::after {
  content: '';
  display: block;
  clear: both;
}
.jumbotron {
  padding: 150px 0 250px;
  background-image: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.jumbotron .jumbotron-header {
  color: #30497b;
  font-size: 36px;
}
.jumbotron .jumbotron-text {
  width: 47%;
  color: #8696b6;
  padding: 40px 0 90px;
  font-size: 24px;
  line-height: 30px;
}
.advantages {
  margin-bottom: 177px;
}
.advantages .advantages-title {
  color: #6487c2;
  text-align: center;
  font-size: 1.7rem;
}
.advantages .advantages-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.advantages .advantages-cards .advantages-card {
  width: 30.3%;
  min-width: 355px;
}
.advantages .advantages-cards .advantages-card .card-image {
  width: 80%;
  min-height: 265px;
  margin: 0 auto;
}
.advantages .advantages-cards .advantages-card .card-image.first-image {
  background-position: -120px -30px;
  background-image: url('../img/icon.png');
}
.advantages .advantages-cards .advantages-card .card-image.second-image {
  background-position: -400px -30px;
  background-image: url('../img/icon.png');
}
.advantages .advantages-cards .advantages-card .card-image.third-image {
  background-position: -410px -270px;
  background-image: url('../img/icon.png');
}
.advantages .advantages-cards .advantages-card .card-title {
  text-align: center;
  font-size: 1.36rem;
  color: #6487c2;
  text-transform: uppercase;
  padding-bottom: 30px;
}
.advantages .advantages-cards .advantages-card .card-text {
  text-align: center;
  font-size: 1.36rem;
  color: #b2c3df;
  line-height: 30px;
}
.about .structure .structure-title {
  margin-bottom: 125px;
  font-size: 1.7rem;
  color: #314978;
  text-align: center;
}
.about .structure .structure-left {
  background-image: url('../img/3.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
.about .structure .structure-right {
  background-image: url('../img/2.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
}
.about .structure .structure-block {
  margin-bottom: 130px;
}
.about .structure .structure-block .title {
  font-size: 1.7rem;
  color: #30497b;
  padding-left: 130px;
}
.about .structure .structure-block .title.border {
  vertical-align: middle;
  padding-left: 60px;
}
.about .structure .structure-block .title.border::before {
  content: '';
  display: inline-block;
  width: 50px;
  min-height: 10px;
  background-color: #7ddfdd;
  vertical-align: middle;
  margin-right: 15px;
}
.about .structure .structure-block .text {
  width: 50%;
  padding: 20px 0;
  font-size: 1.35rem;
  color: #88ace5;
}
.about .structure .structure-block.right .title {
  text-align: right;
}
.about .structure .structure-block.right .text {
  text-align: right;
  float: right;
}
.about .structure .structure-block.right::after {
  content: '';
  display: block;
  clear: both;
}
.about .ads-board .ads-board-title {
  font-size: 1.7rem;
  text-align: center;
  color: #30497b;
  margin-bottom: 70px;
}
.about .ads-board .ads-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about .ads-board .ads-cards .ads-card {
  width: 31%;
  min-width: 300px;
  border: 1px solid #000000;
}
.about .ads-board .ads-cards .ads-card .card-title-block {
  padding: 80px 40px;
  position: relative;
  border: 1px solid #000000;
}
.about .ads-board .ads-cards .ads-card .card-title-block .card-title {
  text-align: center;
  font-size: 1.35rem;
}
.about .ads-board .ads-cards .ads-card .card-title-block .card-title .quotes {
  display: inline-block;
  font-size: 3rem;
  position: absolute;
  color: #88ace5;
}
.about .ads-board .ads-cards .ads-card .card-title-block .card-title .quotes.left {
  top: 30px;
  left: 30px;
}
.about .ads-board .ads-cards .ads-card .card-title-block .card-title .quotes.right {
  bottom: 0px;
  right: 30px;
}
.about .ads-board .ads-cards .ads-card .card-author {
  padding: 30px 45px;
}
